<!-- Header -->
<div class="fixed-top notes-header-bar bg-info text-white">
  <div class="row justify-content-between ">
    <div class="col">
      {{#if wrapper.showBackButton}}
        <div class="home-btn" {{action 'goHome'}}><i class="ion-chevron-left"></i></div>
      {{else}}
        <i class="{{wrapper.icon}}"></i>
      {{/if}}
    </div>
    <div class="col text-center">
      {{wrapper.label}}
    </div>
    <div class="col text-right pl-2">
      <i class="ion-navicon-round"></i>
    </div>
  </div>
</div>
