/*
|----------------------------------------------------------
| Category classes
|----------------------------------------------------------
*/

.category-list-wrapper {
  margin-top: 45px;
  position: absolute;
  width: 100%;
}

.category-list-item {
  background-color: $item-bg-color;
  color: $item-color;
  border-bottom: $item-border;
  position: relative;
  padding: 1rem;
  cursor: pointer;
  z-index: 51;
  transition: background-color .5s ease-in-out;
}

.category-list-item:hover {
  background-color: darken($item-bg-color, 10%);
}

.category-badge {
  color: $category-badge-color;
  background-color: $category-badge-bg-color;
}

.category-icon {
  color: $category-icon-color;
}
