
.note-icon-open {
  transform: rotate(-225deg);
}

.note-list-item-icon {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.note-input-area {
  padding: 1rem;
  border-right: solid 1px #484f56;
  border-left: solid 1px #484f56;
}

.note-list-item {
  position: relative;
  background: #6c757d;
  padding: 1rem;
  color: #f5f5f5;
  border-bottom: solid 1px #495057;
  cursor: pointer;
}

/*
.note-panel {
  padding: 0 18px;
  background-color: white;
  //max-height: 0;
  //z-index: 50;
  //overflow: hidden;
  //transition: max-height .45s ease-in-out;

  height:auto;
  overflow:hidden;
  max-height:50em;
  transition:max-height 1s;
}
*/

.notes-new-wrapper {
  margin-top: 60px;
  position: absolute;
  width: 100%;
}

.notes-list-wrapper {
  margin-top: 45px;
  position: absolute;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  padding-bottom: 100px;
  //overflow: scroll !important;
  //overflow-x: hidden !important;
  //overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
}

.notes-date {
  font-size: .7rem;
  color: #fdf8d6;
}

.notes-new-modal {
  background: #6d767e;
  height: 100%;
  padding: 1.5rem;
  border-radius: 4px;
}

.notes-new-title-input {
  box-shadow: inset 0 0 5px grey;
  text-align: center;
}

.note-new-body {
  min-height: calc(100vh - 15rem);
  max-height: calc(100vh - 15rem);
  border-radius: 4px;
  box-shadow: inset 0 0 10px grey;
  padding: 1rem;
  background-color: #fff;
  overflow: auto;
}

.notes-list-item-body {
  //border: solid 1px #f5f5f5;
  //border-radius: 4px;
  //padding: 1rem;
  font-size: 1rem;
  background: #fff;
  //z-index: 50;
  overflow: hidden;

  height:auto;
  max-height:50em;
  transition: max-height 1s ease-in-out;

}

.notes-list-item-body:focus {
  border: none;
  outline: none;
}

.note-is-collapsed {
  max-height:0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.showNote {
  //animation: accordionIn 0.45s normal ease-in-out both 1;
}

.hideNote {
  //animation: accordionOut 0.45s alternate ease-in-out both 1;
}
