/*
|----------------------------------------------------------
| Note Classes
|----------------------------------------------------------
*/
.note-icon-open {
  transform: rotate(-225deg);
}

.note-list-item-icon {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.note-input-area {
  border-right: $item-border;
  border-left: $item-border;
  padding: 1rem;
  padding-right: 1.4rem;
}

.note-input-area:focus {
  outline: none;
}

.note-list-item {
  color: $item-color;
  border-bottom: $item-border;
  background-color: $item-bg-color;
  position: relative;
  padding: 1rem;
  cursor: pointer;
}

.note-list-item:hover {
  background-color: darken($item-bg-color, 10%);
}

.notes-new-wrapper {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  z-index: 51;
}

.notes-list-wrapper {
  position: absolute;
  margin-top: 45px;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  padding-bottom: 100px;
  -webkit-overflow-scrolling: touch;
  padding-right: 0;
  padding-left: 0;
  transition: filter .5s ease-in-out;
  z-index: 50;
}

.notes-date {
  font-size: .7rem;
  color: $item-secondary-color;
}

.notes-new-modal {
  //background-color: $item-bg-color;
  height: 100%;
  padding: 1.5rem;
  border-radius: 4px;
  //box-shadow: 0 5px 10px grey;
}

.notes-new-title-input {
  //box-shadow: inset 0 0 5px grey;
  text-align: center;
  background-color: $note-area-background-color;
  outline: none;
  border: none;
  color: $note-area-color;
  font-family: monospace, monospace;
  transition: box-shadow .4s ease-in-out;
}

.notes-new-title-input:focus {
  box-shadow: 0 0 1rem 0.2rem #31a1bd;
  background-color: $note-area-background-color;
  outline: none;
  border: none;
  //color: $note-area-color;
}

.note-new-body {
  color: $note-area-color;
  background-color: $note-area-background-color;
  min-height: calc(100vh - 15rem);
  max-height: calc(100vh - 15rem);
  border-radius: 4px;
  //box-shadow: inset 0 0 10px grey;
  padding: 1rem;
  overflow: auto;
  font-family: monospace, monospace;
  transition: box-shadow .4s ease-in-out;
  margin-right: -25px;
  margin-left: -25px;
}

.notes-list-item-body {
  color: $note-area-color;
  background-color: $note-area-background-color;
  position: relative;
  font-size: .8rem;
  overflow: hidden;
  height:auto;
  max-height:50em;
  transition: max-height 1s ease-in-out;
  font-family: monospace, monospace;
}

@media screen and (max-width: 420px) {
  .notes-list-item-body {
    font-size: 1rem;
  }
}

.notes-list-item-body:focus {
  border: none;
  outline: none;
}

.note-is-collapsed {
  max-height:0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.showNote {
  //animation: accordionIn 0.45s normal ease-in-out both 1;
}

.hideNote {
  //animation: accordionOut 0.45s alternate ease-in-out both 1;
}

.note-new-body[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}

.note-new-body:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 1rem 0.2rem #31a1bd;
}

.note-input-control {
  font-size: 1rem;
}

.note-input-save-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  i {
    font-size: 1rem;
  }
}

/*
|----------------------------------------------------------
| Note Menu Page
|----------------------------------------------------------
*/
.notes-menu-outer {
  position: absolute;
  width: 100%;
  z-index: 51;
  bottom: 60px;
}

.notes-menu-wrapper {
  position: relative;
  height: 300px;
  margin: 1rem;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}

.notes-menu-bkg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;//#343a40;
  opacity: .5;
  border-radius: 10px;
  z-index: 100;
}

.notes-menu-area {
  position: absolute;
  z-index: 101;
  padding: 1rem;
  width: 100%;
  height: 100%;
  padding-top: 70px;
}

.note-menu-sqr-btn {
  font-size: 2rem;
  background-color: black;
  color: #fff;
  opacity: .5;
  margin-top: 1rem;
  padding: .5rem;
  width: 4.3rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  i {
    transition: color .3s ease-in-out;
  }
}

.note-menu-sqr-btn .engaged {
  color: #28a745;
}

.note-menu-btn {
  width: 100%;
}

.note-menu-header {
  position: absolute;
  top: 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #666f73;
  z-index: 101;
}

.note-menu-footer {
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  z-index: 101;
  cursor: pointer;
  padding: .4rem;
  color: #fff;
  background-color: #666f73;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  i {
    //color: #721c24;
  }
}

.notes-menu-title {
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  padding: .4rem;
}

.notes-menu-date {
  position: relative;
  font-size: .75rem;
  font-style: italic;
  color: #fdf8d6;
}

.note-status-open {
  color: orange;
}

.note-status-in-progress {
  color: #34a4bf;
}

.note-status-complete {
  color: #28a745;
}

.note-status-btn-inactive {
  color: #fff;
}

.note-delete-btn-active {
  color: #dc3545;
}

.note-flagged-btn-active {
  color: #3F69AA;
}

.note-status-list-icon {
  font-size: 1.4rem;
  opacity: .8;
}
