/*
|----------------------------------------------------------
| Jot - Mixins
|----------------------------------------------------------
*/
@mixin header-bar-background() {
  color: #fff;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 5px 20px #1b1e21;
}

/*
|----------------------------------------------------------
| Jot - variables
|----------------------------------------------------------
*/
$item-bg-color: #6c757d;
$item-border: solid 1px #495057;
$item-color: #f5f5f5;
$item-secondary-color: #fdf8d6;

$category-badge-color: #e9ecef;
$category-badge-bg-color: #82020e;
$category-icon-color: #f7d161e0;

$footer-color: #fff;
$footer-bg-color: #484f56;
$footer-border: solid 1px #495057;

$note-area-color: #fff; //#212529;
$note-area-background-color: #1d2124;

/*
|----------------------------------------------------------
| imports
|----------------------------------------------------------
*/
@import 'categories';
@import 'notes';
@import 'wrapper';
@import 'accordion';
@import 'wrapper';

/*
|----------------------------------------------------------
| Global
|----------------------------------------------------------
*/
body {

}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.main-body-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient( rgb(93, 199, 224), rgba(96, 125, 139, 0.18) ), url(stripes-light.png);
}

.content-wrapper {
  position: relative;
  height: 100vh;
}

.content-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: .5;
  z-index: 500;
  display: none;
}

.notes-loader-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.notes-loader-text {
  font-size: 6rem;
  color: #f5f5f5;
  text-align: center;
  top: 35%;
  position: relative;
}

.hidden {
  display: none;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
