<!-- New Note Page -->
<div id="{{pageId}}" class="container notes-new-wrapper animated {{if isActive '' 'hidden'}}">
  <div class="notes-menu-wrapper">

    <!-- Background -->
    <div class="notes-menu-bkg"></div>

    <!-- Menu Area -->
    <div class="notes-menu-area">
      <div class="row">

        <!-- Delete Note -->
        <div class="col-auto">
          <div class="note-menu-sqr-btn">
            <i class="ion-trash-a"></i>
          </div>
        </div>

        <!-- Delete Note -->
        <div class="col-auto">
          <div class="col note-menu-sqr-btn">
            <i class="ion-trash-a"></i>
          </div>
        </div>

      </div>
    </div>

    <!-- Menu Footer -->
    <div class="note-menu-footer">
      <i class="ion-ios-close"></i> &nbsp; Return
    </div>

  </div>
</div>
