
<div class="main-body-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">

        <!-- Header -->
        {{header-bar}}

        <!-- List -->
        {{outlet}}

        <!-- Footer -->
        {{footer-bar}}

      </div>
    </div>
  </div>
</div>
